.order-form {
	/*height: 100vh;*/
	text-align: center;
	margin: 10px;
}

.quantity {
	width: 30px;
}

li {
	padding: 10px;
	padding-bottom: 20px;
	display: inline-flex;
	width: 30vw;
}

.menu-items {

}

.menu-button {
	width: 80vw;
	height: 30px;
	font-size: 1rem;
}

.Button {
	margin: 10px;	
}

.submit {
	margin-bottom: 1.2rem;
}

@import url('http://res.cloudinary.com/stefank9/image/upload/v1499136293/patternGray_hz5mma.jpg')